
.row-content {
	margin: 0px auto;
	padding: 50px 0px 20px 0px;
	border-bottom:1px ;	
}

.tab-content {
	border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	padding:10px;
}

.row-header{
	margin:0px auto;
}

.jumbotron {
	background:#9575CD;
	color: floralwhite;
}
.footer {
	margin:10px auto;
	background:#D1C4E9;
	padding:10px 0px 10px 0px;
}
.navbar a {
	color:white;
}
.address{
	font-size:80%;
	color:red;
}


body {
	padding:50px 0px 0px 0px;
	z-index:0;
}

.navbar-dark{
	background-color: #6600cc;
}
.breadcrumb-item+.breadcrumb-item::before{
	content: "|";
}

.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 250px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 250px;
}

.carousel-caption {
   
    bottom: 20px;
    left: 30%;
}
.radio-inline{
	padding:10px;
}
#carouselButton{
	right:0px;
	bottom:0px;
	position:absolute;
}
.modal-header{
	background-color:#9575CD;
}
.modal-body{
	background-color:#D1C4E9;
}