.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  }
.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #9575CD;
  color: floralwhite;
}
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}
body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.navbar-dark {
  background-color: #512DA8;
}
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.breadcrumb-item+.breadcrumb-item::before{
	content: "|";
}
.modal .modal-body .radio-inline{
	padding:10px;
}
.carousel {
  background: #512DA8;
}
.carousel .carousel-item {
  height: 250px;
}
.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 250px;
}
.carousel-caption {   
    bottom: 20px;
    left: 30%;
}
#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
}
.modal .modal-header{
	background-color:#9575CD;
}
.modal .modal-body{
	background-color:#D1C4E9;
}
.modal .modal-title{
	color:floralwhite;
}
.modal .close {
	color:floralwhite;
}
